<div class="row homeFeature">

  <div class="col-md-6 text-center">
    <a href="/authors">
      <div class="row">
        <div class="col-md-4">
          <img src="images/python_in_a_nutshell.jpg" alt="Python In A Nutshell" />
        </div>
        <div class="col-md-4">
          <img src="images/async_and_performance.jpg" alt="Async and Performance" />
        </div>
        <div class="col-md-4">
          <img src="images/es6_and_beyond.jpg" alt="ES6 and Beyond" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="images/learning_react_native.jpg" alt="Learning React Native" />
        </div>
        <div class="col-md-4">
          <img src="images/think_python.jpg" alt="Think Python" />
        </div>
        <div class="col-md-4">
          <img src="images/scope_and_closures.jpg" alt="Scope and Closures" />
        </div>
      </div>
      <h2>Authors</h2>
    </a>
  </div>

  <div class="col-md-6 text-center">
    <a href="/books">
      <div class="row">
        <div class="col-md-4">
          <img src="images/kyle_simpson.jpg" alt="Kyle Simpson" />
        </div>
        <div class="col-md-4">
          <img src="images/alex_martelli.jpg" alt="Alex Martelli" />
        </div>
        <div class="col-md-4">
          <img src="images/anna_ravenscroft.jpg" alt="Anna Ravenscroft" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="images/steve_holden.jpg" alt="Steve Holden" />
        </div>
        <div class="col-md-4">
          <img src="images/allen_downey.jpg" alt="Allen Downey" />
        </div>
        <div class="col-md-4">
          <img src="images/bonnie_eisenman.jpg" alt="Bonnie Eisenman" />
        </div>
      </div>
      <h2>Books</h2>
    </a>
  </div>

</div>
