header {
  margin: 20px 0 0; }
  header span {
    font-size: 50px;
    margin: 0 20px 0 0; }
  header h1 {
    display: inline-block; }

.books {
  margin: 0 0 20px; }
  .books h3 {
    margin-top: 0; }
  .books img {
    width: 100%; }

.homeFeature img {
  margin: 20px 0 0;
  height: 165px;
  max-width: 100%; }

.homeFeature .col-md-6 {
  border: 1px solid black; }

.sideNav .authorsSideNav {
  border: 1px solid black; }
  .sideNav .authorsSideNav :hover {
    background-color: gray; }

.sideNav .booksSideNav {
  border: 1px solid black; }
  .sideNav .booksSideNav :hover {
    background-color: gray; }

.sideNav img {
  max-width: 100%;
  margin: 15px 0; }

.sideNav .active {
  background-color: gray; }

.rotate {
  margin: 60px 0 40px;
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }
